    {{>header}}
        {{#if productos.[0]}}
            <table>
                <tr>
                    <th>#ID</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Imagen</th>
                </tr>
            {{#each productos}}
                <tr>
                    <td>{{this.id}}</td>
                    <td>{{this.title}}</td>
                    <td>{{this.price}}</td>
                    <td>{{this.thumbnail}}</td>
                </tr>
            {{/each}}
            </table>
        {{else}}
        <h2>No hay productos en la lista</h2>
        {{/if}}
        
    {{>footer}}
